<plugin>
    <id>gus</id>
    <name>glFusion Usage Stats</name>
    <description>The glFusion Usage Stats (GUS) plugin collects statistics on who visits your site, what browser and operating system they are using, which pages they view, and which links they are clicking to get there. It allows the administrator to browse these stats through a series of tables, getting right down into the data.</description>
    <version>2.1.9</version>
    <glfusionversion>1.4.1</glfusionversion>
    <phpversion>5.2.6</phpversion>
    <url>http://www.glfusion.org</url>
    <maintainer>Mark R. Evans</maintainer>
    <renamedist>config.php.dist</renamedist>
</plugin>